@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  box-sizing: border-box;
  font-size: small;
  margin: 0;
  border-radius: 10px;
}

body {
  background-color: rgb(0, 0, 0);
}
#root {
  display: flex;
  justify-content: center;
}
.app {
  margin: 1rem 0;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7rem;
  width: 90%;
  height: 95vh;
  box-shadow: rgb(136, 165, 191) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 20px;
  max-width: 1000px;
  min-width: 297px;
}

.select-dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
}

.react-select-wrap {
  width: 80%;
  max-width: 540px;
}

.pokemon-spirit img {
  width: 70%;
}

.pagination {
  width: 95%;
  display: flexbox;
  gap: 2rem;
}
button {
  font-size: 1rem;
  background: transparent;
  margin: 0 1rem;
}

.pagination button {
  width: 25%;
  height: 2rem;
}

button:hover,
button:active {
  cursor: pointer;
  background-color: black;
  color: white;
  border-color: black;
}

.btn-disabled,
.btn-disabled:hover {
  cursor: default;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.685);
  border-color: rgba(216, 213, 213, 0.87);
}
.card-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 90%;
  height: 60vh;
  max-width: 600px;
  min-width: 300px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 3rem 0;
}

.pokemon-spirit {
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.767) 0px 7px 20px 0px;
  width: 90%;
}

.pokemon-description,
.name {
  color: white;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.767) 0px 7px 20px 0px;
  text-align: center;
  padding: 2rem 3rem;
  width: 90%;
}
